/* **************************** */
/* General default layout */
/* **************************** */
* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
  line-height: 1;
}

/* **************************** */
/* Headings */
/* **************************** */
.heading-primary {
  font-size: 5.2rem;
  font-weight: 600;
}

/* **************************** */
/* Text */
/* **************************** */

.text {
  font-size: 2rem;
  line-height: 1.6;
  color: #444;
}

/* **************************** */
/* Margins */
/* **************************** */

.margin-bottom-small-1 {
  margin-bottom: 3.2rem;
}

.margin-bottom-small-2 {
  margin-bottom: 4.4rem;
}

.margin-bottom-big-1 {
  margin-bottom: 7.2rem;
}

/* **************************** */
/* Button link */
/* **************************** */

.btn:link,
.btn:visited {
  display: inline-block;
  color: inherit;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
  border: none;
}

.btn:hover,
.btn:active {
  color: #e67e22;
}

.btn--orange:link,
.btn--orange:visited,
.btn--white:link,
.btn--white:visited {
  padding: 1.4rem 3.2rem;
  border-radius: 0.8rem;
}

.btn--orange:link,
.btn--orange:visited {
  color: #fff;
  background-color: #e67e22;
}

.btn--orange:hover,
.btn--orange:active {
  background-color: #cf711f;
}

.btn--white:link,
.btn--white:visited {
  color: #444;
  background-color: #fff;
}

.btn--white:hover,
.btn--white:active {
  background-color: transparent;
  box-shadow: 0 0 0 0.3rem #fff inset;
}
